.users_buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	transition: 0.5s;
}

.users_buttons div {
	margin: 0 5px;
	cursor: pointer;
}

.unselectedPage {
	color: black;
}

.selectedPage {
	color: #27aae1;
	font-weight: bold;
}
