.users {
	width: 55%;
	padding: 10px;
	margin: auto;
}

.users_buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	transition: 0.5s;
}

.users_buttons div {
	margin: 0 5px;
	cursor: pointer;
}

.unselectedPage {
	color: black;
}

.users_buttons .selectedPage {
	color: #27aae1;
	font-weight: bold;
}

.users_wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.user {
	width: 200px;
	max-width: 100%;
	border-bottom: 1px solid rgb(220, 218, 218);
	display: flex;
	padding-bottom: 20px;
	margin: 10px;
}

.wrapper_user {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

.user_cover {
	height: 110px;
	max-height: 110px;
	border-radius: 5px 5px 0 0;
	object-fit: cover;
	object-position: center;
}

.user_line_location {
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	position: absolute;
	top: 35%;
	padding: 0 5px;
}

.user_location {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.user_location div {
	color: white;
	font-size: 12px;
	margin: 3px;
}

/* profile info */
.user_info {
	text-align: center;
	position: absolute;
	top: -100%;
}

.user_info_avatarka {
	height: 70px;
	max-height: 100%;
	width: 70px;
	max-width: 100%;
	border: 5px solid #fff;
	border-radius: 50%;
	object-fit: cover;
	object-position: center right;
}

.user_info_fullname a {
	color: black;
	font-size: 15px;
	text-decoration: none;
	margin: 0 10px;
}

.user_info_fullname a:hover {
	border-bottom: 1px solid black;
}

.user_status {
	color: rgb(91, 91, 91);
	font-size: 14px;
	padding: 10px;
}

.user_button {
	width: 100%;
	color: #fff;
	background: #27aae1;
	font-size: 13px;
	font-weight: 600;
	border-radius: 30px;
	border: none;
	outline: none;
	padding: 7px 0;
	transition: 0.5s;
	cursor: pointer;
}

.user_button:hover {
	color: white;
	background: #166485;
	transition: 0.5s;
}

.a {
	color: green;
	background: red;
}
