/* create post */
.create_post {
    display: flex;
    justify-content: center;
}

.wrapper_post {
    width: 55%;
    border-bottom: 1px solid rgb(214, 213, 213);
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
    padding-bottom: 10px;
}

/* form_group */
.form_group {
    display: flex;
    align-items: center;
}

.form_group img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 10px;
}

.form_group textarea {
    height: 45px;
    min-height: 45px;
    max-width: 260px;
    min-width: 260px;
    font-size: 14px;
    outline: none;
    border: 1px solid rgb(150, 150, 150);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    border-radius: 7px;
    padding: 6px 12px;
}

/* tools */

.tools {
    display: flex;
}

.publishing_tools {
    display: flex;
    align-items: center;
}

.publishing_tools li {
    color: #6d6e71;
    font-size: 14px;
    text-decoration: none;
    list-style: none;
    margin: 0 7px;
    cursor: pointer;
}

.tools button {
    color: white;
    background: #27aae1;
    font-size: 14px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 7px 25px;
    cursor: pointer;
    transition: 0.5s;
}

.tools button:hover {
    color: white;
    background: #166485;
    transition: 0.5s;
}

/* posts */
.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}