/* examples: input, textarea */

.showErrorBorder input,
.showErrorBorder textarea {
	border: 1px solid red;
	/* border-radius: 5px; */
}

/* examples: span */
.showErrorBlock {
	color: red;
	font-size: 15px;
}

.formCommonOfError {
	color: red;
}

.wrapper_field {
	width: 100%;
}

.filed {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	border-radius: 10px;
	outline: none;
	padding: 5px 10px;
}
