.timeline_cover {
	margin: 0 0 20px 0;
}

.timeline_wrapper {
	min-height: 320px;
	width: 100%;
	background-image: url("https://www.artinnaturephotography.com/images/xl/sierra-wild-waterfally-20190727_0805.jpg");
	background-position: center;
	background-size: cover;
	border-radius: 0 0 5px 5px;
	position: relative;
}

/* timeline_cover-line */
.timeline_nav_bar {
	height: 65px;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

/* profile info */
.profile_info {
	text-align: center;
}

.profile_info_avatarka {
	height: 200px;
	width: 200px;
	border: 7px solid #fff;
	border-radius: 50%;
	object-fit: cover;
	object-position: center right;
}

.profile_info_fullname {
	font-size: 25px;
}

/*  */
.profile_menu {
	height: 100%;
	width: 70%;
	color: white;
	position: absolute;
	right: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.list_profile_menu {
	height: 100%;
	list-style: none;
	display: flex;
	align-items: center;
}

.item {
	padding: 7px 10px;
	margin: 0 10px;
}

.item a {
	color: white;
	text-decoration: none;
	transition: 0.5s;
}

.item a:hover {
	color: #27aae1;
	transition: 0.5s;
}

.item .active {
	color: #27aae1;
}

.button {
	color: #fff;
	background: #27aae1;
	font-size: 14px;
	font-weight: 600;
	border-radius: 30px;
	border: none;
	outline: none;
	padding: 10px 30px;
	transition: 0.5s;
}

.button:hover {
	color: white;
	background: #166485;
	transition: 0.5s;
}
